<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <div>
        <h1>Chitter Live Chat</h1>
      </div>
      <div>
        <h3>~<%= @user.name %>(<%= @user.username %>)</h3>
      </div>
    </header>
    <div class="chat col-7 col-s-9 col-xs-10">
      <% @@peeps.each do |peep|%>
        <div class="peep c<%= (peep.id.to_i % 3 + 1).to_s %>">
          <a class="peep" href="/peeps/<%= peep.id %>">
            <div class="username col-xs-8 col-s-8 col-8">
              <p class="username">~<%=peep.author%></p>
            </div>
            <div class="content-time-replies">
              <div class="content col-xs-8 col-s-8 col-8">
                <p class="content"><%=peep.content%></p>
              </div>
              <div class="time-replies col-xs-3 col-s-3 col-3">
                <p class="time"><%= peep.time.split(" ")[0]%></p>
                <p class="time"><%= peep.time.split(" ")[1]%></p>
                <p class="replies"><%= @replies.select{|reply| reply.peep_id == peep.id}.length%> <% if @replies.select{|reply| reply.peep_id == peep.id}.length == 1 %> Reply <% else %> Replies <% end %></p>
              </div>
            </div>
          </a>
        </div>
      <%end%>
    </div>
    <footer>
      <div class="options">
        <% if @user.name == "Anonymous" %>
          <div class="send">
            <form action="/peeps/new" method="GET">
              <button type="submit">Send Anonymous Peep</button>
            </form>
          </div>
          <div class="log">
            <form action="/signup" method="GET">
              <button type="submit">Sign Up</button>
            </form>
            <form action="/login" method="GET">
              <button type="submit">Log In</button>
            </form>
          <% else %>
            <div class="send">
              <form action="/peeps/new" method="GET">
                <button type="submit">Send Peep</button>
              </form>
            </div>
            <div class="log">
              <form action="/logout" method="GET">
                <button type="submit">Log Out</button>
              </form>
            </div>
          <% end %>
        </div>
      </div>
    </footer>
  </body>
</html>
